* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

img {
  max-width: 100%;
}

#question {
  opacity: 0;
  animation: question 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes question {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
